/* ############################################## */
/* ################ mobile styles ############### */
/* ############################################## */
@media screen and (min-width: 350px) {
    body {
        background-color: yellowgreen;
    }
    footer {
        font-weight: bolder;
        min-height: 6em;
    }
    .main-body {
    }
    .footer-text {
    }
    .head-bar {
        font-weight: bolder !important;
        font-size: 1em !important;

    }
}



/* ############################################## */
/* ################ Desktop styles ############### */
/* ############################################## */

@media screen and (min-width: 960px) {
    body {
    }
    footer {
        min-height: 5em;
        display: flex;
        align-items: center;
    }
    .head-bar {
        font-weight: bolder !important;
    }
    .footer-text {
    }
    .footer-text li {
        display: inline-block;
        float: Left;
        width: 25%;
        font-weight: normal;
        font-size: large;
        text-align: center;
    }

}

/* ############################################## */
/* ################ General styles ############### */
/* ############################################## */
.icons {
    color: black;
}

a {
    color: black
}

.main-body {
    background-color: #FBFBE9;
    display: flex;
    flex-direction: column;
}
head {
    background-color: #A7C5CB;
}
footer {
    background-color: #A7C5CB;
}
.footer-text {
    color: black;
}
