/* ############################################## */
/* ################ mobile styles ############### */
/* ############################################## */
@media screen and (min-width: 350px) {
    body {
        background-color: yellowgreen;
    }

}



/* ############################################## */
/* ################ Desktop styles ############### */
/* ############################################## */

@media screen and (min-width: 960px) {
    body {
        background-color: darkgreen;
    }

}

/* ############################################## */
/* ################ General styles ############### */
/* ############################################## */
.icons {
    color: darkgray;
}

a {
    color: gray
}