<form action="/admin/size/<%= size.id %>/update" method="POST">
    <div>
      <label for="name">Größe:</label>
      <input type="text" id="name" name="name" value="<%= size.name %>">
    </div>
    <div>
      <label for="description">Filter:</label>
      <input type="text" id="filter" name="filter" placeholder="M;" value="<%= size.filter %>">
    </div>
    <div>
      <label for="stock">Bestand</label>
      <input type="number" name="stock" id="stock" value="<%= size.stock %>">
  </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  </form>
  
  
  