<form action="/admin/size/" method="POST">
  <div hidden>
    <p>
      <input type="number" id="article" name="article" value="<%= article %>">
      <input type="number" id="variant" name="variant" value="<%= variant %>">
    </p>
  </div>
  <div>
    <label for="name">Größe:</label>
    <input type="text" id="name" name="name">
  </div>
  <div>
    <label for="description">Filter:</label>
    <input type="text" id="filter" name="filter" placeholder="M;">
  </div>
  <div>
    <label for="stock">Bestand</label>
    <input type="number" name="stock" id="stock">
</div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>


