<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="home">
  <div class="welcome-text container-fluid">
    <span>
      <h3>Willkommen bei unserem T-Shirt Online Shop!</h1>
        <p>
          Hier findest du eine große Auswahl an hochwertigen T-Shirts mit einzigartigen Designs, die garantiert deinen
          individuellen Stil unterstreichen. Unsere T-Shirts werden aus hochwertigen Materialien hergestellt, um
          sicherzustellen, dass sie sowohl bequem als auch langlebig sind.
          Unser Sortiment umfasst verschiedene Themen wie Musik, Sport, Tiere und vieles mehr. Wir haben Designs für
          jeden
          Geschmack und jedes Alter. Ob du auf der Suche nach einem lässigen Alltags-Look oder einem besonderen Outfit
          für
          einen besonderen Anlass bist, wir haben das perfekte T-Shirt für dich.
        </p>
        <p>
          Unser Ziel ist es, dir ein einzigartiges Einkaufserlebnis zu bieten. Wir legen großen Wert auf Kundenservice
          und
          stehen dir gerne bei Fragen oder Anliegen zur Verfügung. Außerdem bieten wir schnelle und sichere
          Zahlungsmöglichkeiten sowie eine schnelle Lieferung, damit du dein neues Lieblings-T-Shirt schnellstmöglich
          tragen kannst.
        </p>
        <p>
          Schau dich jetzt in unserem Online Shop um und finde dein neues Lieblings-T-Shirt!
        </p>
    </span>
  </div>
  <div class="home-banner-container">
    <img class="home-banner" src="/images/home_banner.jpg" alt="home_banner">
  </div>
  <div class="category-box">
    <div class="category-item">
      <div class="category-item-content">
        <img class="article-image" src="/images/polo.jpg" alt="polo_cat">
        <a class="article-text" href="/polo">Polo</a>
      </div>
    </div>
    <div class="category-item">
      <div class="category-item-content">
        <img class="article-image" src="/images/polo.jpg" alt="polo_cat">
        <a class="article-text" href="/polo">Polo</a>
      </div>
    </div>
    <div class="category-item">
      <div class="category-item-content">
        <img class="article-image" src="/images/polo.jpg" alt="polo_cat">
        <a class="article-text" href="/polo">Polo</a>
      </div>
    </div>
    <div class="category-item">
      <div class="category-item-content">
        <img class="article-image" src="/images/polo.jpg" alt="polo_cat">
        <a class="article-text" href="/polo">Polo</a>
      </div>
    </div>
    <div class="category-item">
      <div class="category-item-content">
        <img class="article-image" src="/images/polo.jpg" alt="polo_cat">
        <a class="article-text" href="/polo">Polo</a>
      </div>
    </div>
    <div class="category-item">
      <div class="category-item-content">
        <img class="article-image" src="/images/polo.jpg" alt="polo_cat">
        <a class="article-text" href="/polo">Polo</a>
      </div>
    </div>
  </div>
</body>

</html>
