/* ############################################## */
/* ################ mobile styles ############### */
/* ############################################## */
@media screen and (min-width: 350px) {
    .basket-picture{
        width: 50px;
        height: auto;
      }
    .font-size-mobile{
        font-size: 14px;
    }

    .accordion-button{
        border: 2px solid #000;
        padding: 5px;
        margin: 10px;
        width: 300px;
    }
    .accordion-body{
        text-align: center;
        width: 200px;
        /*border-right: 20px solid #000;
        border-left: 20px solid #000;*/
    }
    .head-image{
        float: left;
    }

    .about-us-card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 200px;
        max-height: 300px;
        text-align: left;
        font-family: arial;
        display: table;
      }
    /* Slideshow container */
    .slideshow-container {
        /*max-width: 1000px;*/
        position: relative;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0;
        }
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .wrapper {
        min-height: 100vh; /* Set minimum height of the wrapper to full viewport height */
        display: flex;
        flex-direction: column;
    }

    footer {
        min-height: 5em;
        display: flex;
        align-items: center;
        z-index: 2;
        width: 100%;
    }
    .main {
        flex-grow: 1; /* Allow main content to grow and fill remaining space */
        overflow-y: auto; /* Enable vertical scrolling for main content */
        padding-bottom:60px;
    }
    .footer-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding-left: 2em;
        align-items: center;
    }
    .head-bar {
        background-color: #B4D2E7;
        font-weight: bolder !important;
        font-size: 1em !important;
    }
    .home-banner-container {
       display: none; 
    }
    .welcome-text h3 {
        font-weight: normal;
    }
    .category-box {
        display: none;
    }

}

@media screen and (min-width: 520px) {
    .basket-picture{
        width: 100px;
        height: auto;
      }
    .accordion-button{
        border: 2px solid #000;
        padding: 5px;
        margin: 10px;
        width: 400px;
    }
    .accordion-body{
        text-align: center;
        width: 250px;
        /*border-right: 20px solid #000;
        border-left: 20px solid #000;*/
    }
    .footer-text {
        flex-direction: row;
        width: 100%;
    }
}



/* ############################################## */
/* ################ Desktop styles ############### */
/* ############################################## */

@media screen and (min-width: 960px) {
    .accordion-button{
        border: 2px solid #000;
        padding: 5px;
        margin: 10px;
        width: 700px;
    }
    .accordion-body{
        text-align: center;
        width: 500px;
        /*border-right: 20px solid #000;
        border-left: 20px solid #000;*/
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 250px;
        height: 400px;
        text-align: left;
        font-family: arial;
        display: table;
      }
    body{
        background-size: cover;
        background-attachment: fixed;

        
    }
    .category-box {
        display: flex;
        flex-flow: row wrap;
        background-color: white;
        justify-content: space-around;
        /*display: flex;
        position: fixed; /* Für damit der Footer unten bleibt, muss aber dann überall angepasst werden (siehe footer)  */
    }
    .category-item {
        margin: 0.5em 0 0 0;
        flex-basis: 33.33333%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .category-item-content {
        position: relative;
        border: black 0.1em;
        border-style: solid;
        width: 160px;
        height: 240px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .article-image:hover {
        opacity: 0.5;
    }
    .article-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: auto;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
        margin-bottom: 20px;
    }
    .category-item-content a {
        position: relative;
        z-index: 2;
        width: 4em;
        color: white;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2em;
        font-weight: bold;
        transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
        text-decoration: none;
    }

    .article-text:hover {
        width: 6em;
        height: 3em;
    }
    
    .home {
        display: flex;
        flex-direction: row;
    }
    .home-banner-container {
        display: unset;
    }
    .home-banner {
        width: 100%;
    }
    footer {
        min-height: 5em;
        display: flex;
        align-items: center;
        z-index: 2;
    }
    .head-bar {
        font-weight: bolder !important;
    }
    
    .footer-text li {
        display: inline-block;
        float: Left;
        width: 25%;
        font-weight: normal;
        font-size: large;
        text-align: center;
    }
    .welcome-text {
        width: 70%;
        background-color: #A1A6B4;
        padding: 1em;
    }
    .welcome-text h3 {
        font-weight: normal;
    }
    /* Slideshow container */
    .slideshow-container {
    /*max-width: 1000px;*/
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0;
    }
}

@media screen and (min-width: 1100px) {
    .category-item {
        flex-basis: 16.6667%;
    }
    .card {
        position: static;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 250px;
        height: 400px;
        text-align: left;
        font-family: arial;
        display: table;
        margin-bottom: 40px;
      }
      
      .price {
        color: grey;
        font-size: 22px;
      }
      
      .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 15px;
      }
      
      .card button:hover {
        opacity: 0.7;
      } 
}

/* ############################################## */
/* ################ General styles ############### */
/* ############################################## */
.icons {
    color: black;
}

a {
    color: black
}

.main-body {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
}
head {
    background-color: #B4D2E7;

}
footer {
    background-color: #B4D2E7;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer-text {
    color: black;
}

.sizes {

}
.search-button{
    width: 97px;
    height: 33px;
    font-size: 20px;
    color: #000000;
    background: #94C5CC;
    border: none;
    border-radius: 10px;
    font-family: arial;
    transition: all 0.25s ease;
}
.search-button:hover {
    color: #000000;
    background: #A1A6B4
}

.right {
    text-align: right;
    
}
* {box-sizing:border-box}



/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active-slider-button, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards; 
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
.float-container {
    /*border: 3px solid #fff;
    padding: 20px;*/
}

.float-child {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    float: left;
    /*border: 2px solid red;*/
}  
.pull-left {
    float: left;
}
.article-text-desc{
    margin: 0;
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -10%);
    transform: translate(-50%, -10%);
}
input{
    border: 1px solid #000;
}
.new_here{
    width: 100%;
    background-color: #000100;
    color: white;
    padding: 3px;
    text-align: center;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally center aligns the content */
    align-items: center;
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    height: 300px;
  }
  .text-center-simple{
    text-align: center;
  }
