/* ############################################## */
/* ################ mobile styles ############### */
/* ############################################## */
@media screen and (min-width: 350px) {
    body {
        background-color: yellowgreen;
    }
    footer {
        font-weight: bolder;
        min-height: 6em;
    }
    .main-body {
    }
    .footer-text {
    }
    .head-bar {
        font-weight: bolder !important;
        font-size: 1em !important;
    }
    .home-banner-container {
       display: none; 
    }
    .welcome-text h3 {
        font-weight: normal;
    }
    .category-box {
        display: none;
    }
}



/* ############################################## */
/* ################ Desktop styles ############### */
/* ############################################## */

@media screen and (min-width: 960px) {
    .category-box {
        display: flex;
        flex-flow: row wrap;
        background-color: white;

        justify-content: space-around;
    }
    .category-item {
        margin: 0.5em 0 0.5em 0;
        flex-basis: 33.33333%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .category-item-content {
        position: relative;
        border: black 0.1em;
        border-style: solid;
        width: 160px;
        height: 240px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .article-image:hover {
        opacity: 0.5;
    }
    .article-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: auto;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }
    .category-item-content a {
        position: relative;
        z-index: 2;
        width: 4em;
        color: white;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2em;
        font-weight: bold;
        transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
        text-decoration: none;
    }

    .article-text:hover {
        width: 6em;
        height: 3em;
    }
    
    .home {
        display: flex;
        flex-direction: row;
    }
    .home-banner-container {
        display: unset;
    }
    .home-banner {
        width: 100%;
    }
    footer {
        min-height: 5em;
        display: flex;
        align-items: center;
    }
    .head-bar {
        font-weight: bolder !important;
    }
    .footer-text {
    }
    .footer-text li {
        display: inline-block;
        float: Left;
        width: 25%;
        font-weight: normal;
        font-size: large;
        text-align: center;
    }
    .welcome-text {
        width: 70%;
        background-color: #EFEFDF;
        padding: 1em;
    }
    .welcome-text h3 {
        font-weight: normal;
    }
}

@media screen and (min-width: 1100px) {
    .category-item {
        flex-basis: 16.6667%;
    }
}

/* ############################################## */
/* ################ General styles ############### */
/* ############################################## */
.icons {
    color: black;
}

a {
    color: black
}

.main-body {
    background-color: #FBFBE9;
    display: flex;
    flex-direction: column;
}
head {
    background-color: #A7C5CB;
}
footer {
    background-color: #A7C5CB;
}
.footer-text {
    color: black;
}

.sizes {
    margin-left: 2em;
}
