<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
        <section id="angebot">
            <h2>Unser Angebot</h2>
            <p>Bei T-Shirt Shirt bieten wir Ihnen eine unendliche Vielfalt an T-Shirts, die Ihren individuellen Stil unterstreichen. Von klassischen Designs bis hin zu trendigen Mustern haben wir für jeden etwas dabei. Unsere Shirts werden aus hochwertigen Materialien gefertigt, um Ihnen einen erstklassigen Tragekomfort zu bieten. Tauchen Sie ein in unsere Kollektion und finden Sie Ihr neues Lieblings-T-Shirt.</p>
        </section>
        
        <section id="ursprung">
            <h2>Unser Ursprung</h2>
            <p>Die Geschichte von T-Shirt Shirt begann vor über einem Jahrzehnt mit der Vision, hochwertige T-Shirts mit einzigartigen Designs auf den Markt zu bringen. Gegründet von Modeenthusiasten mit einem unersättlichen Verlangen nach Stil und Kreativität, haben wir uns schnell zu einer vertrauenswürdigen Marke in der Modewelt entwickelt. Unsere Leidenschaft für Qualität und unser Streben nach Exzellenz treiben uns immer weiter an.</p>
        </section>
        
        <section id="mission">
            <h2>Unsere Mission</h2>
            <p>Unsere Mission ist es, Ihre Garderobe mit T-Shirts zu bereichern, die Ihre Persönlichkeit widerspiegeln und Ihnen Selbstvertrauen verleihen. Wir möchten Ihnen ein einzigartiges Shoppingerlebnis bieten, bei dem Sie sich inspiriert und begeistert fühlen. Jedes unserer T-Shirts wird mit Sorgfalt und Liebe zum Detail gestaltet, um Ihren individuellen Stil zu unterstreichen und Ihnen das gewisse Extra zu verleihen.</p>
        </section>
        
        <section id="ziele">
            <h2>Unsere Ziele</h2>
            <p>Unsere Ziele sind klar definiert: Wir möchten Ihnen nicht nur qualitativ hochwertige T-Shirts anbieten, sondern auch ein Gefühl der Zugehörigkeit und des Ausdrucks vermitteln. Wir setzen auf Nachhaltigkeit und achten darauf, dass unsere Produktionsprozesse umweltfreundlich sind. Darüber hinaus streben wir danach, Ihnen den bestmöglichen Kundenservice zu bieten. Unser Ziel ist es, dass Sie bei uns nicht nur ein T-Shirt kaufen, sondern Teil der T-Shirt Shirt-Familie werden.</p>
        </section>
    </div>
    <div class="col-md-4 mx-auto pt-5">
        <div class="about-us-card-container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                    <img src="images/avatar/eron.png" alt="Eron" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back" style="background-color: gold; color: black;">
                    <h1>Eron Sejdiu</h1>
                    <p>Frontend Developer</p>
                    <p>Vue / Design / Creative</p>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                    <img src="images/avatar/simon.jpg" class="img-fluid" alt="Simon" >
                    </div>
                    <div class="flip-card-back" style="background-color: #12330b;">
                    <h1>Simon Driescher</h1>
                    <p>Backend Developer</p>
                    <p>DB / Models / API/Controllers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
