<div class="container pt-5 pb-5">
    <h1>Impressum</h1>
  
    <h2>Angaben gemäß § 5 TMG:</h2>
    <p>T-Shirt Shirt GmbH</p>
    <p>Musterstraße 123</p>
    <p>12345 Musterstadt</p>
    <p>Deutschland</p>
  
    <h2>Vertreten durch:</h2>
    <p>Max Mustermann (Geschäftsführer)</p>
  
    <h2>Kontakt:</h2>
    <p>Telefon: +49 123 456789</p>
    <p>E-Mail: info@tshirtshirt.de</p>
  
    <h2>Registereintrag:</h2>
    <p>Registergericht: Amtsgericht Musterstadt</p>
    <p>Registernummer: HRB 12345</p>
  
    <h2>Umsatzsteuer-ID:</h2>
    <p>Umsatzsteuer-Identifikationsnummer gemäß § 27a UStG: DE123456789</p>
  
    <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h2>
    <p>Max Mustermann</p>
    <p>Musterstraße 123</p>
    <p>12345 Musterstadt</p>
    <p>Deutschland</p>
  
    <p>Stand: 21. Juni 2023</p>
  </div>