<div id="homeShortSleeve">
    <div class="card">
        <img src="/assets/images/polo.jpg" alt="Polo red" style="width:100%">
        <h1>Polo Shirt red</h1>
        <p class="price">29.99€</p>
        <p>Poloshirt für Herren - Plain Polo Shirt mit Kurzarm, Baumwolle Polo T-Shirt</p>
        <p><button>Add to Cart</button></p>
    </div>
    <div class="card">
        <img src="/assets/images/1Upload.png" alt="woman red" style="width:100%">
        <h1>Long Slee grey</h1>
        <p class="price">29.99€</p>
        <p>Ein Long Sleeve für Frauen</p>
        <p><button>Add to Cart</button></p>
    </div>
</div>