<!-- <div id="app">
    <div style="width: 100%; display: table;">
        <div style="display: table-row">
            <div style="width: 200px; display: table-cell;">
                <div class="card">
                    <img src="/images/polo.jpg" alt="Polo red" style="width:100%">
                    <h1>Polo Shirt red</h1>
                    <p class="price">29.99€</p>
                    <a class="article-text" href="/polo">Poloshirt für Herren - Plain Polo Shirt mit Kurzarm, Baumwolle
                        Polo T-Shirt</a>
                    <href=" /polo">
                        <p><button>Add to Cart</button></p>
                </div>
            </div>
            <div style="width: 200px; display: table-cell;">
                <div class="card">
                    <img src="/images/plainShirt/W1.png" alt="shirt" style="width:100%">
                    <h1>Plain T-Shirt</h1>
                    <p class="price">9.99€</p>
                    <a class="article-text" href="/polo">Ein einfaches T-Shirt</a>
                    <href=" /plainShirt">
                        <p><button>Add to Cart</button></p>
                        </href>
                </div>
            </div>
            <div style="width: 200px;display: table-cell;">
                <div class="card">
                    <img src="/images/FullPolo/1.jpg" alt="polo darkred" style="width:100%">
                    <h1>Polo Shirt darkred</h1>
                    <p class="price">29.99€</p>
                    <a class="article-text" href="/polo">xyz</a>
                    <href=" /Long_Sleeve">
                        </href>
                        <p><button>Add to Cart</button></p>
                </div>
            </div>
            <div style="width: 200px;display: table-cell;">
                <div class="card">
                    <img src="/images/FullPolo/1.jpg" alt="polo darkred" style="width:100%">
                    <h1>Polo Shirt darkred</h1>
                    <p class="price">29.99€</p>
                    <a class="article-text" href="/polo">xyz</a>
                    <href=" /Long_Sleeve">
                        </href>
                        <p><button>Add to Cart</button></p>
                </div>
            </div>
            <div style="width: 200px;display: table-cell;">
                <div class="card">
                    <img src="/images/FullPolo/1.jpg" alt="polo darkred" style="width:100%">
                    <h1>Polo Shirt darkred</h1>
                    <p class="price">29.99€</p>
                    <a class="article-text" href="/polo">xyz</a>
                    <href=" /Long_Sleeve">
                        </href>
                        <p><button>Add to Cart</button></p>
                </div>
            </div>
            <div style="width: 200px;display: table-cell;">
                <div class="card">
                    <img src="/images/FullPolo/1.jpg" alt="polo darkred" style="width:100%">
                    <h1>Polo Shirt darkred</h1>
                    <p class="price">29.99€</p>
                    <a class="article-text" href="/polo">xyz</a>
                    <href=" /Long_Sleeve">
                        </href>
                        <p><button>Add to Cart</button></p>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%; display: table;">
        <div style="display: table-row">
            <div style="width: 200px; display: table-cell;">
                <div class="card">
                    <img src="/images/polo.jpg" alt="Polo red" style="width:100%">
                    <h1>Polo Shirt red</h1>
                    <p class="price">29.99€</p>
                    <a class="article-text" href="/polo">Poloshirt für Herren - Plain Polo Shirt mit Kurzarm, Baumwolle
                        Polo T-Shirt</a>
                    <href=" /polo">
                        <p><button>Add to Cart</button></p>
                </div>
            </div>
            <div style="width: 200px; display: table-cell;">
                <div class="card">
                    <img src="/images/polo.jpg" alt="Polo red" style="width:100%">
                    <h1>Polo Shirt red</h1>
                    <p class="price">29.99€</p>
                    <a class="article-text" href="/polo">Poloshirt für Herren - Plain Polo Shirt mit Kurzarm, Baumwolle
                        Polo T-Shirt</a>
                    <href=" /polo">
                        <p><button>Add to Cart</button></p>
                </div>
            </div>
            <div style="width: 200px; display: table-cell;">
                <div class="card">
                    <img src="/images/polo.jpg" alt="Polo red" style="width:100%">
                    <h1>Polo Shirt red</h1>
                    <p class="price">29.99€</p>
                    <a class="article-text" href="/polo">Poloshirt für Herren - Plain Polo Shirt mit Kurzarm, Baumwolle
                        Polo T-Shirt</a>
                    <href=" /polo">
                        <p><button>Add to Cart</button></p>
                </div>
            </div>
            <div style="width: 200px; display: table-cell;">
                <div class="card">
                    <img src="/images/polo.jpg" alt="Polo red" style="width:100%">
                    <h1>Polo Shirt red</h1>
                    <p class="price">29.99€</p>
                    <a class="article-text" href="/polo">Poloshirt für Herren - Plain Polo Shirt mit Kurzarm, Baumwolle
                        Polo T-Shirt</a>
                    <href=" /polo">
                        <p><button>Add to Cart</button></p>
                </div>
            </div>
            <div style="width: 200px; display: table-cell;">
                <div class="card">
                    <img src="/images/polo.jpg" alt="Polo red" style="width:100%">
                    <h1>Polo Shirt red</h1>
                    <p class="price">29.99€</p>
                    <a class="article-text" href="/polo">Poloshirt für Herren - Plain Polo Shirt mit Kurzarm, Baumwolle
                        Polo T-Shirt</a>
                    <href=" /polo">
                        <p><button>Add to Cart</button></p>
                </div>
            </div>
            <div style="width: 200px; display: table-cell;">
                <div class="card">
                    <img src="/images/polo.jpg" alt="Polo red" style="width:100%">
                    <h1>Polo Shirt red</h1>
                    <p class="price">29.99€</p>
                    <a class="article-text" href="/polo">Poloshirt für Herren - Plain Polo Shirt mit Kurzarm, Baumwolle
                        Polo T-Shirt</a>
                    <href=" /polo">
                        <p><button>Add to Cart</button></p>
                </div>
            </div>
        </div>
    </div>
</div> -->