<form name="variant" onsubmit="return validateVariant()" action="/admin/variant/" method="POST">
  <div hidden>
    <p>
      <input type="number" id="article" name="article" value="<%= article %>" required>
    </p>
  </div>
  <div>
    <label for="name">Varianten Name:</label>
    <input type="text" id="name" name="name" required>
  </div>
  <div>
    <label for="description">Filter:</label>
    <input type="text" id="filter" name="filter" placeholder="blue;" required>
  </div>
  <div>
    <input type="submit" value="Anlegen">
  </div>
</form>


