<form class="container pt-5 pb-5" name="variant" onsubmit="return validateVariant()" action="/admin/variant/" method="POST">
  <div hidden>
    <p>
      <input type="number" id="article" name="article" value="<%= article %>" required>
    </p>
  </div>
  <div class="form-group">
    <label class="form-label" for="name">Varianten Name:</label>
    <input class="form-control" type="text" id="name" name="name" required>
  </div>
  <div class="form-group">
    <label class="form-label" for="description">Filter:</label>
    <input class="form-control" type="text" id="filter" name="filter" placeholder="blue;" required>
  </div>
  <div>
    <input class="btn btn-primary" type="submit" value="Anlegen">
  </div>
</form>


